<header class="masthead" style="background-image: url('<%= @blog.banner_image.url if @blog.banner_image? %>'); background-size: cover; background-position: center;">
  <div class="container-fluid px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-9 col-lg-0 col-xl-7 z-1" style='z-index: 1;'>
        <div class="post-heading">
          <h1 id="blog-title" class="blog-title " style="font-size:2.3rem;text-align: justify;"><%= @blog.heading %></h1>
          <span class="meta">
            Posted by
            <a href="#!"><%= @blog.author%></a>
            on  <%= @blog.created_at.strftime("%B %d, %Y") %>
          </span>
        </div>
      </div>
    </div>
  </div>
</header>
<article class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-9 large-font content-container rich-text-image">
        <%= @blog.content.html_safe if @blog.content.present? %>
        <p>
          Posted by <strong><%=  @blog.author%></strong>
        </p>
      </div>
    </div>
  </div>
</article>
